<div class="household_detail">
{% load expenses %}
{% render_household_transaction_create household %}
    <div class="household_header">
        <h1>
            {{ household.name }}
        </h1>
    </div>
    <div class="household_persons">
        <h2>
            Members
        </h2>
        <ul>
            {% for person in household.persons.all %}
            <li>
                <a href="{% url person person.pk %}" accesskey="">
                    {{ person.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
<div class="household_transactions">
    <a href="{% url household_transactions household.pk %}">
        Transactions
    </a>
</div>
</div>